img.thumb {
	height: 220px;
}
div.image {
	text-align: center;
}
div.body {
	filter: blur(10px);
	/*-webkit-filter: blur(2px);*/
	-moz-filter: blur(10px);
	-o-filter: blur(10px); 
	-ms-filter: blur(10px);
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 1px 2px 3px rgba(0,0,0,.8);
	background-color: rgba(0, 0, 0, 0.65);
	width: 60%;
	max-width: 1000px;
	margin: 0 auto;
	border-radius:25px;
	margin-top: 1em;
	margin-bottom: 1em;
}
div {
	padding: 1em;
}
p {
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 20px;
	position: relative;
	font-weight: 300;
	text-shadow: 0px 0px 20px #000, 0px 0px 20px #000;
}
p.credit {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 25px;
}
p.credit a {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 25px;
}

a {
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 20px;
	position: relative;
	text-align: center;
	text-shadow: 0px 0px 20px #000, 0px 0px 20px #000;
}
strong {
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 50px;
	position: relative;
	width: 70%;
	text-align: center;
	text-shadow: 0px 0px 20px #000, 0px 0px 20px #000;
}
strong.subhead {
	font-size: 2em;
}

.spectrum-refer {
    margin-top: 1em;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    background-color: rgba(0,0,0, 0.5);
    display: inline-block;
    text-decoration: none;
    padding: 0.5em 1em;
}

.spectrum-refer img {
    vertical-align: middle;
}

/*DONT TOUCH THIS SHIT TOOK ME FOREVER*/
section {
  background: 50% 0 no-repeat fixed;
  background-size: auto 150%;
  min-height: 100%;
  position: relative;
  padding: 1em 0 1em 0;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

html, body {
  margin: 0;
  height: 100%;
}
/*END OF SHIT YOU CANT TOUCH*/

/* photos */

#oneA { background-image: url(http://dailybruin.com/images/2014/02/web.ns_.2.27.recycling1.picA_.jpg); }
#oneB { background-image: url(http://dailybruin.com/images/2014/02/web.ns_.2.27.recycling1.picB_.jpg); }
#oneC { background-image: url(http://dailybruin.com/images/2014/02/web.ns_.2.27.recycling1.picC_.jpg); }
#oneD { background-image: url(http://dailybruin.com/images/2014/02/web.ns_.2.27.recycling1.picD_.jpg); }
#twoA { background-image: url(http://dailybruin.com/images/2014/02/web.ns_.2.27.recycling2.picA_.jpg); }
#twoB { background-image: url(http://dailybruin.com/images/2014/02/web.ns_.2.27.recycling2.picB_.jpg); }
#twoC { background-image: url(http://dailybruin.com/images/2014/02/web.ns_.2.27.recycling2.picC_.jpg); }
#twoD { background-image: url(http://dailybruin.com/images/2014/02/web.ns_.2.27.recycling2.picD_.jpg); }
#twoE { background-image: url(http://dailybruin.com/images/2014/02/web.ns_.2.27.recycling2.picE_.jpg); }
#footer { background-image: url(http://dailybruin.com/images/2014/02/web.ns_.2.27.recycling3.picB_.jpg); }
