		strong {
			font-family: Roboto,"Open Sans","Helvetica Neue",Helvetica;
			color: white;
			font-size: 50px;
			width: 50%;
		}
		article {
			font-family: Roboto,"Open Sans","Helvetica Neue",Helvetica;
			color: white;
			font-size: 20px;
			width: 50%;
			text-shadow: 0px 0px 10px #000, 0px 0px 10px #000;
		}

		.first {
			height: 1000px;
			margin: 0 auto;
			width: 100%;
			max-width: 1920px;
			position: relative;
		}
		 
		.first article {
			height: 458px;
			position: absolute;
			text-align: center;
			top: 150px;
			width: 100%;
		}
		 
		.second {
			height: 1000px;
			margin: 0 auto;
			width: 100%;
			max-width: 1920px;
			position: relative;
			-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
			box-shadow: 0 0 50px rgba(0,0,0,0.8);
		}
		 
		.second article {
			height: 458px;
			position: absolute;
			text-align: center;
			top: 150px;
			width: 100%;
		}

		.bkgd {
			background-repeat : no-repeat;
			background-size: 100%;
		}

		/* photos */

		#oneA { 
			background: url(photos/web.ns.2.27.recycling1.picA.jpg) 50% 0 repeat fixed; min-height: 1000px; 
			background-repeat : no-repeat;
			background-size: 100%;
		}

		#oneB { background: url(photos/web.ns.2.27.recycling1.picB.jpg) 50% 0 repeat fixed; min-height: 1000px; }

		#oneC { background: url(photos/web.ns.2.27.recycling1.picC.jpg) 50% 0 repeat fixed; min-height: 1000px; }

		#oneD { background: url(photos/web.ns.2.27.recycling1.picD.jpg) 50% 0 repeat fixed; min-height: 1000px; }

		#twoA { background: url(photos/web.ns.2.27.recycling2.picA.jpg) 50% 0 repeat fixed; min-height: 1000px; }

		#twoB { background: url(photos/web.ns.2.27.recycling2.picB.jpg) 50% 0 repeat fixed; min-height: 1000px; }

		#twoC { background: url(photos/web.ns.2.27.recycling2.picC.jpg) 50% 0 repeat fixed; min-height: 1000px; }

		#twoD { background: url(photos/web.ns.2.27.recycling2.picD.jpg) 50% 0 repeat fixed; min-height: 1000px; }

		#twoE { background: url(photos/web.ns.2.27.recycling2.picE.jpg) 50% 0 repeat fixed; min-height: 1000px; }
