div {
	filter: blur(10px);
	/*-webkit-filter: blur(2px);*/
	-moz-filter: blur(10px);
	-o-filter: blur(10px); 
	-ms-filter: blur(10px);
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 1px 2px 3px rgba(0,0,0,.8);
	background-color: rgba(0, 0, 0, 0.45);
	width: 50%;
	margin: 0 auto;
	border-radius:25px;
}
p {
	font-family: Roboto,"Open Sans","Helvetica Neue",Helvetica;
	color: white;
	font-size: 20px;
	position: relative;
	text-align: center;
	text-shadow: 0px 0px 20px #000, 0px 0px 20px #000;
}
strong {
	font-family: Georgia,Roboto,"Open Sans","Helvetica Neue",Helvetica;
	color: white;
	font-size: 50px;
	position: relative;
	width: 70%;
	text-align: center;
	text-shadow: 0px 0px 20px #000, 0px 0px 20px #000;
}

/*DONT TOUCH THIS SHIT TOOK ME FOREVER*/
section {
  background: 50% 0 no-repeat fixed;
  background-size: auto 150%;
  min-height: 100%;
  position: relative;
  padding: 1em 0 1em 0;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

html, body {
  margin: 0;
  height: 100%;
}
/*END OF SHIT YOU CANT TOUCH*/

/* photos */

#oneA { background-image: url(photos/web.ns.2.27.recycling1.picA.jpg); }
#oneB { background-image: url(photos/web.ns.2.27.recycling1.picB.jpg); }
#oneC { background-image: url(photos/web.ns.2.27.recycling1.picC.jpg); }
#oneD { background-image: url(photos/web.ns.2.27.recycling1.picD.jpg); }
#twoA { background-image: url(photos/web.ns.2.27.recycling2.picA.jpg); }
#twoB { background-image: url(photos/web.ns.2.27.recycling2.picB.jpg); }
#twoC { background-image: url(photos/web.ns.2.27.recycling2.picC.jpg); }
#twoD { background-image: url(photos/web.ns.2.27.recycling2.picD.jpg); }
#twoE { background-image: url(photos/web.ns.2.27.recycling2.picE.jpg); }