body {
	background-color: #111;
	color: #E6E6E6;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

header {
	position: fixed;
	width: 100%;
}
	video {
		object-fit: fill;
	}
	#video-overlay {
		position: absolute;
		top: 0;
		width: 100%;
	}
		h1 {
			font-family: "Lato", Helvetica, Arial, sans-serif;
			font-size: 90px;
			font-weight: 300;
			margin: 150px auto 80px;
			text-align: center;
			text-shadow: 1px 1px 1px #666;
			text-transform: uppercase;
		}
		#video-overlay h2 {
			font-family: "Lato", Helvetica, Arial, sans-serif;
			font-size: 30px;
			font-weight: 400;
			text-align: center;
			text-shadow: 1px 1px 1px #666;
			text-transform: uppercase;
		}
		
		#video-overlay a {
			font-family: "Vollkorn", Georgia, serif;
			text-decoration: none;
			text-shadow: 1px 1px 1px #666;
			float: right;
			margin: 5px;
		}
			.byline-attribution {
				font-size: 22px;
				text-transform: lowercase;
			}

#container, #sub-container {
	background: rgb(105,166,188); /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(105,166,188)), color-stop(100%, rgb(20,51,91))); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top,       rgb(74,158,188) 0%, rgb(20,51,91) 100%); /* Chrome10+, Safari5.1+ */
	background:    -moz-linear-gradient(top,       rgb(74,158,188) 0%, rgb(20,51,91) 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top,       rgb(74,158,188) 0%, rgb(20,51,91) 100%); /* IE10+ */
	background:      -o-linear-gradient(top,       rgb(74,158,188) 0%, rgb(20,51,91) 100%); /* Opera 11.10+ */
	background:         linear-gradient(to bottom, rgb(74,158,188) 0%, rgb(20,51,91) 100%);
	position: absolute;
	top: 800px;
	width: 100%;
}
	#sub-container {
		margin-top: 500px;
	}

#sub-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 800px;
}
	#sub-header-center {
		margin-top: -400px;
	}
		h3 {
			font-family: "Vollkorn", Georgia, serif;
			text-align: center;
			font-size: 22px;
			font-weight: 400;
			line-height: 36px;
			margin: auto 10%;
			padding: 0;
			position: absolute;
			top: 50%;
		}
			h3#alt-sub-header {
				display: none;
			}
			.intro, .outro {
				font-size: 28px;
				line-height: 28px;
			}
				.intro {
					margin-bottom: 20px;
				}
				.outro {
					margin-top: 20px;
				}

#social-media-links {
	float:right;
	margin-top: -40px;
}

#main {
	margin: 40px auto;
	padding-bottom: 200px;
	width: 800px;
}

a {
	color: white;
}

p {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	margin: 20px;
	text-align: justify;
}

.quote {
	font-family: "Optima", "Roboto", Helvetica, Arial, sans-serif;
	font-size: 24px;
	text-align: center;
	font-weight: 300;
	padding: 0.8em;
	margin: auto 30px;
	font-style: italic;
}

#editor {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 1em;
	margin:4em auto;
}
	#note {
		font-size: 22px;
		font-weight: 500;
		margin: 10px 0 0;
		text-align: center;
	}
	#editor p.notetxt{
		font-style: italic;
		margin: 10px 20px;
		font-size:14px;
	}

span.first {
	font-weight: 500;
	text-transform: uppercase;
}
	#one {
		font-size: 24px;
	}

figure {
	background-color: rgba(0, 0, 0, 0.4);
	margin: 0;
	position: relative;
}
	figure img {
		display: block;
		width: 100%;
	}
	figure .image {
		position: relative;
	}
	figure.left, figure.right {
		width: 360px;
	}
		figure.left{
			float: left;
			margin-right: 20px;
		}
		figure.right {
			float: right;
			margin-left: 20px;
		}
	/*figure.first {
		margin-bottom: 30px;
	}*/
	figure.full {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	figure figcaption {
		color: white;
		font-family: "Roboto", Helvetica, Arial, sans-serif;
		font-weight: 300;
		padding: 1em;
		text-align: center;
	}
	figure .credit {
		font-family: "Roboto", Helvetica, Arial, sans-serif;
		font-size: 10px;
		font-weight: 300;
		background-color: rgba(0, 0, 0, 0.35);
		color: white;
		padding: 0 4px;
		position: absolute;
		right: 0;
		bottom: 0;
	}

figure#map {
	background: none;
	float: right;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 300px;
}

iframe {
	width: 100%;
	height: 433px;
}

#photo-gallery {
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;
	padding: 15px 20px;
	text-align: center;
	width: 240px;
}
	#photo-gallery p {
		margin: 5px;
	}
	#gallery-title {
		font-size: 22px;
		font-style: bold;
		text-align: center;
	}
	div.gallery-img {
		float: left;
		margin: 0.3em;
	}
		div.gallery-img div {
			overflow: hidden;
			opacity: 0.9;
			margin-bottom: 4px;
			width: 70px;
			height: 100px;
		}
			div.gallery-img div:hover {
				opacity: 1;
			}
		.gallery-img span {
			font-family: "Roboto", Helvetica, Arial, sans-serif;
			font-size: 0.7em;
		}
	#gallery-caption {
		clear: both;
		font-size: 14px;
		text-align: left;
	}

canvas {
	margin-right:auto;
	margin-left:auto;
	position: absolute;
	left:0;
	right:0;
}
#chart_div {
	background-color: rgba(0, 0, 0, 0.4);
}

#diver {
	display: none;
	width: 150px;
	opacity: 0.4;
	position: absolute;
}

.reef {
	opacity: 0.2;
	position: fixed;
}
	.reef.left, .reef.right {
		float: none;
		clear: none;
	}
		.reef.left {
			left: 0;
		}
		.reef.right {
			right: 0;
		}

img.left {
	float: left;
	clear: left;
}
img.right {
	float: right;
	clear: right;
}

#pg-credit {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
	z-index: 100;
}
	#pg-credit p {
		font-size: 14px;
		margin: auto;
		text-align: center;
	}

#sea-floor {
	opacity: 0.6;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
#lobster {
	opacity: 0.6;
	position: absolute;
	bottom: 157px;
	left: 90px;
	width: 80px;
}

p#endfirst{
	display: block;
	text-align: center;
	margin-bottom: 3em;
}

p.start{
	margin-top:3em;
}

p.end{
	margin-bottom:3em;
}
p.end1{
	margin-bottom:1em;
}
a#prime{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	background-color: rgba(0,0,0,0.2);
    font-size: 0.8em;
	padding: 4px 8px;
    float: left;
}
